<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>TABLES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button routerLink="/home" size="default" expand="block" fill="solid" color="primary">HOME</ion-button>
</ion-content>