<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Task" [(ngModel)]="todo.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="Section" [(ngModel)]="todo.section"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="Start Time" [(ngModel)]="todo.start_time"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="End Time" [(ngModel)]="todo.end_time"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveTodo()">Save</ion-button>
</ion-content>