<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center color="secondary">
  
  <h1><br />IIUM AUTOMATIC</h1>
  <h1>SCHEDULER</h1>
  <ion-list>

  </ion-list>
    <ion-button routerLink="/new-table" size="default" expand="block" fill="solid" color="success">INPUT SUBJECT</ion-button>
    <ion-button routerLink="/view-existing" size="default" expand="block" fill="solid" color="success">VIEW EXISTING</ion-button>
    <ion-button routerLink="/login" size="default" expand="block" fill="solid" color="success">LOGOUT</ion-button>
</ion-content>

